# .venvを無視
.venv/
.dockervenv/

# node_modulesを無視
node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/

# テスト用のvueを共有しない
test_router.js
**/views/test

# components.d.tsを無視
components.d.ts

# .logを無視
*.log

# .envを無視
.env